<!DOCTYPE html>
<html lang="en" dir="ltr">

    <meta charset="utf-8">
    <title>User Login/Logout using DataStore
    <link rel="stylesheet" type="text/css" href="table.css"></title>
  </head>
  <body>
    {% if user %}
    <h1 align: centre;>{{ welcome}} {{ user.email() }}!</h1>
    <p align: centre;>Hello guest, Welcome to the application</p>
    <p align: centre;> Add new words <a href="/add">here</a></p>
    <form  action="/" method="get">
     <input type="text" name="search_word" placeholder="String">
     <input type="submit" name="search_button" value="Search">
     {% if word %}
     {% for i in word %}
     <br>{{ i }}
     {% endfor %}
     {% endif %}
    </form>
    {% endif %}
    <p align: centre;>you can {{ url_string }} <a href="{{ url }}"> here</a></p>


</p>
  </body>
</html>
